
body {
    background-color: #efefef;
    color: #3F5765;
    font-family: 'Open Sans', sans-serif;
}

#content {
    //padding-top: 100px;  /* Height of the footer */
    //background-color: #efefef;
    //font-family: 'Open Sans', sans-serif;

    margin-top: 50px;
    position: relative;
    z-index: 100;
    //background-color: $light-grey !important;
    margin-bottom: 200px;

    padding-top: 3em;
    overflow: hidden;
    height: 100%;
    min-height: 700px;
}

p, li  {
    font-size: 115%;
    line-height: 125%;
    color: #3F5765;
}

body > .container {
    padding: 24pt;
}

* {
    font-family: sans-serif;
}

#header{
    border-top: #d2d2d2 solid 1px;
    height: 26pt;
    padding: 10pt 0 0 18pt;
    text-align: left;
}

#header a{
/*    color: #747474; */
    text-decoration: none;
}

#header a:hover{
    text-decoration: underline;

}

#logo{
    border: none;
}

body{
    margin: 0px;
/*    color: #747474;*/
    background: #f0f0f0;
    color: #333333;
    font: 12pt/14pt sans-serif;
    line-height: 135%;
}

li {
  margin: 0pt 20em 6pt 0.5em;
}

#content{
    background: white;
/*    border-left: #d2d2d2 solid 1px;*/
/*    border-right: #d2d2d2 solid 1px;*/
    border: #d2d2d2 solid 1px;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

#content h1, h2{
    clear: left;
    color: #747474;
    text-transform: capitalize;
    font: bold 16pt/20pt sans-serif;
}

#content h1 a, #content h1 a:link, #content h1 a:hover {
	color: #747474;
 	text-decoration: none;
}

#content h3{
    color: #747474;
}

#content a{
    color: #c03600;
    text-decoration: none;
}
#content a.ss{
    color: white;
    text-decoration: none;
}

.ss-div {
	margin-bottom: 4em;
}

#content a:hover{
    text-decoration: underline;
}

div.screenshot {
    float: right; 
    margin: 0 1em 0 2em;
}

.screenshot img {
	border: none;
}

.note { 
  border: 1px dashed black;
  background-color: #F5F5FF;
  padding: .3em;
}

p.bash {
    margin: 6pt 2em 12pt 3em;
    padding: 6pt;
    font: 12pt/14pt;
    background-color: #40608f;
    color: yellow;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}