---
layout: main
title: Bauble - Contact Us
---
<div id="contact-page" class="container" ng-controller="ContactCtrl">

  <div ng-show="success">
    <h3>Thanks for contacting us!</h3>
    <p>We'll get back to you shortly</p>
  </div>

  <div ng-hide="success" class="row">
    <h1>Contact Us</h1>
    <div class="col-md-6">
      <form role="form">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" ng-model="data.name"
                 placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="inputFrom">Email address</label>
          <input type="email" class="form-control" id="inputFrom" ng-model="data.from"
                 placeholder="someone@somewhere.com">
        </div>
        <div class="form-group">
          <label for="inputMessage">Message</label>
          <textarea type="password" class="form-control" rows="8" id="inputMessage"
                    ng-model="data.message"></textarea>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
        <span ng-show="error">Error: The message cold not be sent.  Please try
        again later.</span>
        </div>
      </form>
    </div> <!-- .row -->
  </div> <!-- .col -->
</div> <!-- .contact-page -->
