<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Bauble - botanic garden plant collection database</title>
    <meta name="description" content="Bauble is a web app for managing plant collections. Botanical gardens, arboreta, private collections and scientists can use Bauble to manage their plant records and accessions.">
    <meta name="keywords" content="botanical gardens plant records living collection arboretum accessions taxonomy">
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" >

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-43755352-1', 'bauble.io');
       ga('send', 'pageview');
    </script>

  </head>
  <body>

    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="components/es5-shim/es5-shim.js"></script>
    <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bauble</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav pull-right">
            <li><a href="/news" {% if page.name == 'news' %} class="selected-page" {% endif %}>News</a></li>
            <!-- <li><a href="/features" {% if page.name == 'features' %} class="selected-page" {% endif %}>Features</a></li> -->
            <!-- <li><a href="/price" {% if page.name == 'price' %} class="selected-page" {% endif %}>Price</a></li> -->
            <li><a href="/docs" {% if page.name == 'docs' %} class="selected-page" {% endif %}>Docs</a></li>
            <!-- <li><a href="http://app.bauble.io">Login</a></li> -->
          </ul>
        </div>
      </div>
    </div> <!-- .navbar -->


    <div id="content" class="container">
      {{ content }}
    </div> <!-- #content -->

    <div id="footer">
      <div class="row">
        <div class="col-xs-10 col-md-offset-2">
          <div class="col-xs-10 col-md-4">
            <a href="/news">News</a>
            <!-- <a href="/about">Who we are</a> -->
            <a href="/contact">Contact us</a>
            <!-- <a href="/contact">Contact us</a> -->
            <a href="/classic">Bauble Classic</a>
          </div> <!-- .col -->

          <div class="col-xs-10 col-md-4">
            <!-- Bauble &copy; 2005-2013 -->
            <!-- <a href="/docs">Documentation</a> -->
            <a href="/faq">FAQ</a>
            <a href="http://github.com/Bauble">Code</a>
            <a href="http://github.com/Bauble/bauble.webapp/issues">Submit a Bug</a>
          </div> <!-- .col -->

          <div class="col-xs-10 col-md-4">
            <a href="/privacy">Privacy</a>
          </div> <!-- .col -->
        </div>     <!-- .col -->
      </div>     <!-- .row -->

      <!-- <div class="row"> -->
      <p class="copyright pull-right">Bauble &copy; 2005-2014</p>
        <!-- </div> -->
      <!-- <div class="row">
      <p class="copyright pull-right">Bauble &copy; 2005-2013</p>
      </div> -->

    </div>       <!-- #footer -->


    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
